/*
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
*/
@import "normalize.css";

/*! Open Sans Fonts | Apache License, Version 2.0 | https://fonts.google.com/specimen/Open+Sans#license */
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/open-sans-v27-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('./fonts/open-sans-v27-latin-300italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/open-sans-v27-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/open-sans-v27-latin-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/open-sans-v27-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/open-sans-v27-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url('./fonts/open-sans-v27-latin-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url('./fonts/open-sans-v27-latin-800italic.woff2') format('woff2');
}

/* Set 1rem size to 10px but keep the default font size the same */
html {
  font-size: 0.625rem;
}
body {
  font-size: 1.4rem;
}
